body {
    font-size: 14px;
}

.db1-applicant-data {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
}

.db1-contract-data {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.po_db1_priority {
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.db2-table {
    width: 100%;
}

.db2-table-columns {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 50px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.db2-table-deleteRow {
    justify-self: end;
    align-self: end;
}

.db2-table-addRow {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 50px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    height: 50px;
}

#addRowBtn {
    justify-self: end;
    align-self: end;
}

.db3-table-addRow {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 50px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    height: 50px;
}

.db3-content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}

.db3-content-deleteRowBtn {
    justify-self: end;
    align-self: end;
}

.db4-content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}

.app-spinner {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.alert {
    padding: 20px;
    margin: 150px;
    border: #f44336 solid;
    box-shadow: 2px 3px 3px #888888;
    font-size: large;
}

.info {
    padding: 20px;
    margin-bottom: 15px;
    border: yellowgreen solid;
    box-shadow: 2px 3px 3px #888888;
    font-size: large;
}