.ban-ie-content {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    padding: 1em;
  }
  
  .ban-ie-content > h1 {
    color: #3f51b5;
  }
  
  .ban-ie-content__footer {
    border-top: 1px solid #3f51b5;
    margin-top: 0.5em;
    padding-top: 0.5em;
  }