<!DOCTYPE html>
<html>

<head>
    <title>Issue CRUD</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="decorator" content="atl.general">

    $webResourceManager.requireResource("kz.hcb.plugins.jira.apps.jira-sw-request-for-payment:jira-sw-request-for-payment-resources")
    $webResourceManager.requireResource("kz.hcb.plugins.jira.apps.jira-sw-request-for-payment:jira-sw-request-for-payment-react-resources")
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-select")
    $webResourceManager.requireResource("com.atlassian.auiplugin:fancy-file-input")
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-forms")
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-date-picker")
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-dropdown2")
    $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
    $webResourceManager.requireResource("com.atlassian.auiplugin:table")
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-experimental-iconfont")
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-select2")
</head>

<body class="aui-page-hybrid">
<div id="page">
    <section id="content" role="main">
        <header class="aui-page-header">
            <div class="aui-page-header-inner">
                <div class="aui-page-header-main">
                    <h1>Issue CRUD</h1>
                </div>
            </div>
        </header>
        <div class="aui-page-panel">
            <div class="aui-page-panel-inner">
                <section class="aui-page-panel-content">
                    <div id="test-react-id"></div>
                </section>
            </div>
        </div>
    </section>
</div>
</body>
</html>