.file-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .file-list.file-list--inline {
    display: inline-flex;
    overflow: hidden;
  }
  
  .file-list > .file-list__item {
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    width: auto;
  }
  
  .file-list__item + .file-list__item {
    margin-top: 4px;
  }
  